@mixin rich-link-byline{
	    font-weight: 600;
		display: none;	
}


.element-rich-link, .element-membership {
   /* border-top: 1px dotted color(neutral-3);
    border-bottom: 1px dotted color(neutral-3);
    margin-bottom: $gs-baseline / 1.5;
    float: left;
    clear: left;
    width: 13.75rem; */
    display: block;
    position: relative;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    float: left;
    clear:left;
    width: 14.75rem;
    margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    @include mq(mobileLandscape) {
        width: $gs-span;
        margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    }
    @include mq(mobileLandscapeWide) {
        width: $gs-span-wide;
        margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    }
    
    & img{
	    width: 100%;
	    height: auto;
    }
    
    & a{
		text-shadow: none !important;  
		margin: 0 0 0 0; 
    }
    
    & .rich-link-content{
	    margin: 0 0 15px 0;
    }
    
    //Card styles for news rich link
     
    &.tone-news{
		color: color(shade-1);
	    background-color: color(shade-8);
	    border-top: 1px solid color(tone-news-accent);
	    border-bottom: 1px solid color(shade-4);
    
    &.has-quote{
		& a:before{
		content: " ";
		font-family: 'Guardian Icons';
		color: color(tone-news);
		font-size: 1.9rem;    
	    }
    }
    
    & .rich-link-byline{
	    color: color(tone-news);
	    @include rich-link-byline;
    }
    
    &.has-byline{
	    & .rich-link-byline{
		    display: block;
	    }
    }

    
    & a{
	color: color(shade-1);
    }
    
    &:after{
	    content:"";
	    color: color(tone-news);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
    //Card styles for comment rich link
    
      	  
	&.tone-comment{
	    background-color: color(tone-comment-bg);
	    border-top: 1px solid color(tone-comment-accent);
	    border-bottom: 1px solid color(shade-4);
		
	
	& a{
		color: color(tone-comment-text);
    }
    
    & .rich-link-byline{
	    color: color(tone-comment);
	    @include rich-link-byline;
    }
    
    &.has-byline{
	    & .rich-link-byline{
		    display: block;
	    }
    }
    
    & a:before{
	    content: " ";
		font-family: 'Guardian Icons';
		color: color(tone-comment);
		font-size: 1.9rem;
    }
    
    &:after{
	    content:"";
	    color: color(tone-comment);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
    //Card styles for feature rich link
    
    &.tone-feature{
	    background-color: color(tone-feature1);
	    border-top: 1px solid color(tone-feature1-accent2);
	    border-bottom: 1px solid color(shade-4);
    
    &.has-quote{
	    & a:before{
			content: " ";
			font-family: 'Guardian Icons';
			color: color(tone-feature1-accent2);
			font-size: 1.9rem;    
	    }
    }
    
    & .rich-link-byline{
	    color: color(tone-feature1-accent2);
	    @include rich-link-byline;
    }
    
    &.has-byline{
	    & .rich-link-byline{
		    display: block;
	    }
    }

    
    & a{
		color: color(shade-7);
    }
    
    &:after{
	    content:"";
	    color: color(tone-feature1-accent2);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
    //Card styles for media rich link
    
     &.tone-media{
	    background-color: color(shade-1);
	    border-top: 1px solid color(tone-media);
	    border-bottom: 1px solid color(shade-4);
    
    & .rich-link-byline{
	    color: color(tone-media);
	    @include rich-link-byline;
    }
    
    &.has-byline{
	    & .rich-link-byline{
		    display: block;
	    }
    }

    
    &.has-quote{
	    & a:before{
			content: " ";
			font-family: 'Guardian Icons';
			color: color(tone-media);
			font-size: 1.9rem;    
	    }
    }
    
    & a{
		color: color(shade-7);
    }
    
    &:after{
	    content:"";
	    color: color(tone-media);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
    /*&:before{
		content: 'More on this topic';
		@extend %flyer-header;   
    }*/

    p {
        margin: 0px 0px !important;
        padding: 0 5px 0 5px;
        line-height: 18px;
    }

    a {
        font-size: $fs-main-link;
        font-family: $egyptian-display;
        font-weight: 500;
        display: block;
        padding: 0;
        border: 0;
        background-image: none !important;
        
    }
}

