/*doc
---
title: Loading
name: loading
category: Modules








---
Display loading animation to provide feedback to the user.

```html_example
<div class="loading">
    <img src="/ArticleTemplates/assets/img/loading.gif" alt="Loading…"/>
</div>
```
*/

.loading {
    text-align: center;
    padding: base-px(1);

    img {
        width: 44px;
        height: 44px;
    }
}

.loading--liveblog {
    display: none; // Hidden by default, revealed when user clicks on view more

    &.loading--visible {
        display: block;
    }
}

.loader {
   /* background: url('../img/loading.gif') center center 48px 48px no-repeat;*/
    background-image:url('../img/loading.gif');
    background-position: center center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    /*background-color: #FFF !important;*/
    min-height: 100px;
    iframe {
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
    }
}
