/*doc
---
title: Flyers
name: flyers
category: Content
---
Display Flyers (Rich Media content links) progressively enhance with JavaScript. 

Default styling no JavaScript enhancement:

```html_example
    <aside class="element element-rich-link element--supporting element-rich-link--not-upgraded" data-component="rich-link-1" data-link-name="rich-link-1 | 1">
        <p><span>Related:</span>
        <a class=" u-underline" data-component="in-body-link" data-link-name="in body link" href="http://www.theguardian.com/commentisfree/2014/dec/11/a-spoiled-brat-no-way-angelina-jolies-success-wasnt-handed-to-her">
        A 'spoiled brat?' No way. Angelina Jolie's success wasn't handed to her | Jessica Valenti</a></p>
    </aside>
```

*/

// Default styling no JavaScript enhancement - styled on original DOM structure from MAPI
//----------------------------------

%flyer-header{
    display: block;
    font-size: $fs-sub-link;
    font-family: $egyptian-display;
    color: color(neutral-2);
    padding: $gs-baseline/4 0;
    font-weight: 500;    
}

.element-rich-link, .element-membership {
   /* border-top: 1px dotted color(neutral-3);
    border-bottom: 1px dotted color(neutral-3);
    margin-bottom: $gs-baseline / 1.5;
    float: left;
    clear: left;
    width: 13.75rem; */
    display: block;
    position: relative;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    float: left;
    clear:left;
    width: 14.75rem;
    margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    @include mq(mobileLandscape) {
        width: $gs-span;
        margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    }
    @include mq(mobileLandscapeWide) {
        width: $gs-span-wide;
        margin: $gs-baseline / 3 $gs-gutter $gs-baseline / 2 0;
    }
    
    & img{
	    width: 100%;
	    height: auto;
    }
    
    & a{
	text-shadow: none !important;  
	margin: 0 0 25px 0; 
    }
     
    &.tone-news{
	color: color(shade-1);
    background-color: color(shade-8);
    border-top: 1px solid color(tone-news-accent);
    border-bottom: 1px solid color(shade-4);
    
    & a{
	color: color(shade-1);
    }
    
    &:after{
	    content:"";
	    color: color(tone-news);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
  	  
	  &.tone-comment{
    background-color: color(tone-comment-bg);
    border-top: 1px solid color(tone-comment-accent);
    border-bottom: 1px solid color(shade-4);
   
	& a{
	color: color(tone-comment-text);
    }
    
    & a:before{
	    content: " ";
		font-family: 'Guardian Icons';
		color: color(tone-comment);
		font-size: 1.9rem;
    }
    
    &:after{
	    content:"";
	    color: color(tone-comment);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
    &.tone-feature{
    background-color: color(tone-feature1);
    border-top: 1px solid color(tone-feature1-accent);
    border-bottom: 1px solid color(shade-4);
    
    & a{
	color: color(shade-7);
    }
    
    &:after{
	    content:"";
	    color: color(shade-7);
		font-family: 'Guardian Icons';
		padding: 0 0 0 5px;
    }
    
    &:hover:after{
	    content: "";
    }
    }
    
    /*&:before{
		content: 'More on this topic';
		@extend %flyer-header;   
    }*/

    p {
        margin: 0px 0px !important;
        padding: 0 5px 0 5px;
        line-height: 18px;
    }

    a {
        font-size: $fs-main-link;
        font-family: $egyptian-display;
        font-weight: 500;
        display: block;
        padding: 0;
        border: 0;
        background-image: none !important;
        
    }
}

.element-membership {
    span {
        @extend %flyer-header;
    }
}

.element-rich-link {
    span {
        display: none;
    }

   /* a:before {
        content: 'More on this topic';
        @extend %flyer-header;
    }    */
}